{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2>CVE's I am attributed on</h2>
            <ul>
                <li>
                    <a href="https://zxsecurity.co.nz/research/advisories/zitadel-account-takeover/" target="_blank">CVE-2023-46238</a>:
                    Stored XSS leading to a one click silent account takeover
                </li>
                <li>
                    <a href="https://skelmis.co.nz/posts/cve-2023-41885/" target="_blank">CVE-2023-41885</a>:
                    Piccolo time based user enumeration
                </li>
                <li>
                    <a href="https://zxsecurity.co.nz/research/advisories/race-condition-asp-net-core-signinmanager/" target="_blank">
                        CVE-2023-33170</a>:
                    Security Feature Bypass In ASP.NET and Visual Studio – Race Condition
                </li>
            </ul>
        </section>
        <section>
            <h2>My open source projects</h2>
            A short list of my more popular open source projects.<br><br>
            Total downloads for all packages listed below: {{ total }}
            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{{ project.3 }}">{{ project.0 }}</a><br>
                        - Total downloads: <a href="{{ project.4 }}">{{ project.2 }}</a>
                        <br>- {{ project.1 }}
                    </li>
                {% endfor %}
            </ul>
        N.B. Totals are updated daily and include known proxies so are
            not <i>entirely</i> representative of real numbers.
        This is a PyPi limitation so I'll take whats offered.
        </section>
        <section>
            <h2>Navigation</h2>
            <a href="/">Go home</a>
        </section>
    </div>
{% endblock content %}
