{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2>Editing</h2>
            <h3>Font</h3>
            <ul><li>Balbes</li></ul>
            <h3>Colors</h3>
            <ul>
                <li>Yellow: c0be00</li>
                <li>Orange: ff9705</li>
            </ul>
        </section>
        <section>
            <h2>Camera settings</h2>
            Yea, I didn't save them when I liked it so this is empty.<br>

            <h5>When using the flash</h5><br>
            - Shoot 1/200

            <br>
            <h5>Nice mellow lighting</h5>
            - Shoot 1/50
        </section>
        <section>
            <h2>Navigation</h2>
            <a href="/">Go home</a>
        </section>
    </div>
{% endblock content %}
