{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            Here is a list of people's teams for this year to save asking all the time:
            <ul>
                {% for team in teams %}
                    <li>{{ team.team_name }} -> {{ team.person }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Navigation</h2>
            <a href="/">Go home</a>
        </section>
    </div>
{% endblock %}