{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2>Routes</h2>
            <p>
                The following routes are valid:
            </p>
            <ul>
                {% for route in routes %}
                    <li><a href="{{ route.url }}">{{ route.name }}</a></li>
                {% endfor %}
            </ul>


        </section>
        <section>
            <h3>Other links</h3>
            <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/redoc/">Redoc</a></li>
                <li><a href="/docs/">Swagger API</a></li>
            </ul>
        </section>
    </div>
{% endblock content %}
