{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2>Flights</h2>
            <ul>
                <li>
                    I prefer to fly after 12pm, this gives
                    me time to wake up & deal with (10am) checkout
                </li>
                <li>I'll get to the airport 2-3 hours prior to my flight</li>
                <li>
                    I generally always get pulled aside for drug testing/bag
                    search/extra screening at-least once per round trip of travel
                </li>
            </ul>
            I don't really care, but if prompted I generally fly Air New Zealand, then
            Emirates followed by Qantas.
        </section>
        <section>
            <h2>Accommodation</h2>
            While I'm generally really not fussed in this regard, here's a couple things
            <ul>
                <li>Has Wi-Fi</li>
                <li>My own access card</li>
            </ul>

            Also depends on the purpose of the trip, but staying at a hostel
            even if it's a private room at a hostel is likely ideal as it gives
            me the ability to socialise and meet new people to make memories with
        </section>
        <section>
            <h2>Actual travel stuff</h2>
            <ul>
                <li>
                    I like my sleep. I'd rather not do things
                    before 9-10am (where things is not breakfast)
                </li>
                <li>
                    Will always want to go out at-least once
                    to experience the night-life of wherever I am
                </li>
                <li>
                    Aim to do one 'big thing' per day of travel
                    otherwise I get burnt out if it's always full on
                </li>
                <li>
                    Every few days have a chill day with nothing
                    scheduled and kinda just do whatever feel like at the time
                </li>
                <li>Loves at-least a rough itinerary</li>
                <li>Quite happy to do things impromptu as well</li>
                <li>Happy to spend money on stuff, am traveling after all</li>
                <li>
                    If the night prior is expected to be a drinking/going
                    out night, don't schedule anything till at-least after lunch
                </li>
            </ul>
        </section>
        <section>
            <h2>Navigation</h2>
            <a href="/">Go home</a>
        </section>
    </div>
{% endblock content %}
